.alert
    +border-radius($main-border-radius)
    +colorbox($color-warning)

    position: relative
    margin-bottom: 30px
    padding: 5px 25px 5px 15px
    border:
        width: 1px
        style: solid
    font-size: 1.4em
    line-height: 130%

    p
        margin: 0.5em 0

    .alert-dismiss
        +transition(all 0.1s)

        position: absolute
        right: 10px
        top: 10px
        padding: 0
        border: none
        background: none
        color: rgba(0, 0, 0, 0.1)
        text-align: right

        &:before
            @extend %icon

            content: '\f128'
            font-size: 20px

        &:hover
            color: rgba(0, 0, 0, 0.2)

.alert-small
    padding: 5px 25px 5px 15px
    font-size: 0.9em

    .alert-dismiss
        top: 7px

.alert-icon
    text-align: center

    &:before
        @extend %icon

        content: '\f100'
        margin: 5px 0
        font-size: 60px

.alert-success
    +colorbox($color-success)

    &.alert-icon
        &:before
            content: '\f120'

.alert-danger
    +colorbox($color-danger)

    &.alert-icon
        &:before
            content: '\f128'

.alert-info
    +colorbox($color-info)

    &.alert-icon
        &:before
            content: '\f149'

.alert-short
    padding: 10px
    color: #aaa
    font-family: $font-heading
    text-align: center
    line-height: 140%

    &:before
        @extend %icon

        display: block
        margin-bottom: 5px
        color: #e9e9e9
        font-size: 60px

    p
        margin: 0.5em 0

// .alert-short-loading
//     &:before
//         @extend %icon-loading-c

.alert-short-empty
    &:before
        content: '\f272'

.alert-short-danger
    +colorbox($color-danger)

    background: none

    &:before
        content: '\f2be'
