.billboard
  z-index: 0
  width: 100%
  height: $billboard-height
  overflow: hidden
  position: fixed
  top: 0
  left: 0
  background: $color-dark

  .nav
    a
      @extend %icon
      +transition(all 0.2s)

      position: absolute
      top: 57%
      width: 50px
      height: 50px
      color: rgba(255, 255, 255, 0.5)
      font-size: 40px
      line-height: 50px
      text:
        align: center
        decoration: none

      &:hover
        border-color: #fff
        color: #fff

    .prev
      left: 15px

      &:before
        content: '\f153'

    .next
      right: 15px

      &:before
        content: '\f154'

  .index
    width: 100%
    position: absolute
    left: 0
    bottom: 10px
    text-align: center

    a
      +border-radius(50px)
      +transition(all 0.2s)

      display: inline-block
      width: 15px
      height: 15px
      margin: 0 5px
      background: rgba(255, 255, 255, 0.3)
      text:
        indent: -9999px
        decoration: none

      &.selected
        background: #fff

  .item
    +box-sizing(border-box)

    display: none
    height: $billboard-height
    overflow: hidden
    position: relative
    float: left
    padding-top: 170px
    background:
      position: 50% 50%
      repeat: no-repeat

    > a
      display: block
      width: 100%
      height: 100%
      position: absolute
      left: 0
      top: 0

    .item-container
      display: block
      width: $main-width
      height: 100%
      overflow: hidden
      position: relative
      margin: 0 auto

    .pane
      +opacity(0)

      width: 60%
      border: none

      .image,
      .heading,
      .text,
      .action
        +opacity(0)

        width: 100%
        position: relative

      .image,
      .heading
        +transition(all 0.3s)

      .text
        +transition(all 0.6s)

      .action
        +transition(all 0.9s)

    &.active
      .pane
        +opacity(1)

        .image,
        .heading,
        .text,
        .action
          +opacity(1)

  // Template Left
  .item-template-left
    .pane
      float: left
      text-align: left

      .image,
      .heading,
      .text,
      .action
        left: 35px

    &.active
      .pane
        .image,
        .heading,
        .text,
        .action
          left: 0

  // Template Right
  .item-template-right
    .pane
      float: right
      text-align: right

      .image,
      .heading,
      .text,
      .action
        right: 35px

    &.active
      .pane
        .image,
        .heading,
        .text,
        .action
          right: 0

  // Template Center
  .item-template-center
    .pane
      margin: 0 auto
      text-align: center

      .image,
      .heading,
      .text,
      .action
        left: 35px

    &.active
      .pane
        .image,
        .heading,
        .text,
        .action
          left: 0
