.block-light
  +border-radius($main-border-radius)

  padding: 15px
  background: $color-light

.block-media
  padding-top: 5px

  a
    border: none

.block-media-left
  float: left
  margin: 0 15px 15px 0

.block-media-right
  float: right
  margin: 0 0 15px 15px

.block-media-center
  margin-bottom: 15px
  text-align: center

.block-post
  +border-radius($main-border-radius)
  +transition(all 0.1s)

  display: block
  height: 300px
  padding: 10px
  background: #fff
  text-align: center
  line-height: 130%

  &:hover
    +opacity(0.9)

  .image
    margin-bottom: 10px

    img
      +border-radius($main-border-radius)

      width: 100%

  .title
    margin-bottom: 10px
    color: $color-custom-1
    font:
      weight: bold
      size: 1.2em

  .resume
    color: $color-dark
    font-size: 0.9em

.block-avatar
  $size: 230px
  +border-radius($size)

  display: inline-block
  width: $size
  height: $size
  overflow: hidden

  img
    display: block
    width: auto
    height: 100%

.block-notice
  padding: 15px
  color: #fff
  text-align: center

  &:before
    @extend %icon

    color: #fff
    font-size: 80px

  p
    margin: 0.5em
    font-size: 1.3em
    line-height: 130%

.block-notice-empty
  &:before
    content: '\f31d'

.block-loading
  margin: 30px 0
  color: #fff
  font-family: $font-heading
  text-align: center

  &:before
    @extend .icon-load-c

    display: block
    margin-bottom: 10px
