.breadcrumb
  +border-radius($main-border-radius)

  margin-bottom: 30px

  ul
    @extend %clearfix

  li
    display: block
    float: left
    padding: 0 10px
    border-left: 1px solid $color-light
    color: $color-secondary
    font-size: 0.9em

    &:first-child
      padding-left: 0
      border: none
