.button
  @extend %button

+button-extend('secondary', $color-secondary)
+button-extend('warning', $color-warning)
+button-extend('success', $color-success)
+button-extend('danger', $color-danger)
+button-extend('info', $color-info)
+button-extend('custom-1', $color-custom-1)
+button-extend('custom-2', $color-custom-2)

.button-dropdown
  &:after
    @extend %icon

    content: '\f151'
    margin-left: 10px
    padding-left: 10px
    border-left: 1px solid rgba(255, 255, 255, 0.3)

.button-short
  $size: 30px
  +border-radius($size)

  display: inline-block
  width: $size
  height: $size
  margin: 0 2px
  border: none
  color: #fff !important
  text-align: center

  span
    font-size: 15px
    line-height: $size
