.field-count-counter
  display: block
  float: right
  margin-top: 3px
  color: $color-secondary
  font:
    weight: bold
    size: 0.9em

  &:before
    @extend %icon

    content: '\f12c'
    margin-right: 3px
