.form
  legend
    display: none

  label
    display: block
    margin-bottom: 25px
    font-size: 1em

    &.check
      margin-bottom: 5px
      cursor: pointer
      font:
        size: 1em
        family: $font-system

    &.inline
      display: inline-block
      margin-right: 15px

    &.boxed
      padding-bottom: 10px
      border-bottom: 1px dotted $color-info
      color: $color-info

    &.large
      position: relative

      > span
        position: absolute
        left: 10px
        top: 15px
        color: #ccc
        font-size: 20px

      input
        padding-left: 35px !important

  .label
    margin-bottom: 10px
    font-size: 1.3em

  .checks
    margin-bottom: 15px

  input[type="radio"],
  input[type="checkbox"]
    position: relative
    top: -1px
    margin: 0 5px 0 0

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  textarea
    @extend %field-text

    display: block
    width: 100%
    margin-top: 5px

  textarea
    height: 60px
    padding: 10px

  select
    @extend %field-select

  input[type="file"]
    +box-sizing(border-box)

    display: block
    margin-top: 10px
    border: none

  [readonly]
    background: $color-light !important

.form-inline
  label
    margin: 0

  input[type="text"],
  input[type="password"],
  input[type="email"],
  textarea,
  select
    margin: 0

.field-group
  +border-radius($main-border-radius)

  margin-bottom: 15px
  padding: 15px
  background: #f8f8f8

  legend
    +border-radius($main-border-radius)

    display: block
    margin-bottom: 10px
    padding: 10px
    background: #bbb
    color: #fff
    font-size: 1.5em

.field-text
  @extend %field-text

.field-helper-info
  clear: both
  display: block
  padding-top: 5px
  color: #888
  font-size: 0.9em

  &:before
    @extend %icon

    content: '\f149'
    margin-right: 5px

.field-helper-alert
  clear: both
  display: block

  li
    display: block
    padding-top: 5px
    font-size: 0.9em
    color: $color-warning

    &:before
      @extend %icon

      content: '\f100'
      margin-right: 5px

.field-helper-alert-success
  li
    color: $color-success

    &:before
      content: '\f120'

.field-helper-alert-danger
  li
    color: $color-danger

    &:before
      content: '\f128'

.field-helper-alert-info
  li
    color: $color-info

    &:before
      content: '\f149'

.field-merged
  @extend %clearfix

  input,
  select,
  button
    float: left
    margin: 0 !important

  input,
  select
    +border-right-radius(0 !important)

    width: 80% !important

  button
    +border-left-radius(0)

    width: 20% !important

.field-counter
  display: block
  float: right
  margin-top: 3px
  color: $color-info
  font:
    size: 0.8em
    family: $font-default

  &:before
    @extend %icon

    content: '\f12c'
    margin-right: 3px

.field-icon
  position: relative

  span
    z-index: 100
    position: absolute
    left: 10px
    top: 10px
    color: #ddd
    font-size: 15px

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  textarea,
  select
    z-index: 1
    position: relative
    padding-left: 25px !important

.field-icon-large
  span
    top: 15px
    font-size: 20px

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  textarea,
  select
    padding-left: 30px !important
