.main-gallery
  overflow: hidden

.main-gallery-index
  width: 30%
  float: left
  padding-top: 15px

  h5
    margin-bottom: 15px
    color: $color-custom-1

  a
    +border-radius($main-border-radius)
    +transition(all 0.1s)
    +box-sizing(border-box)

    display: block
    margin: 5px 5px 5px 0
    position: relative
    padding: 15px 15px 15px 55px
    background: $color-custom-1
    color: rgba(255, 255, 255, 0.5)
    font:
      weight: bold
      size: 1.1em
    font-family: $font-heading
    line-height: 140%
    text-decoration: none

    &:before
      @extend %icon

      content: '\f118'
      position: absolute
      left: 15px
      top: 13px
      color: rgba(255, 255, 255, 0.3)
      font-size: 30px

    &:hover
      background: $color-custom-2
      color: #fff

  .on
    a
      +border-right-radius(0)

      margin-right: 0
      background: $color-custom-2
      color: #fff

      &:before
        color: #fff

.main-gallery-thumbs
  +border-radius($main-border-radius)
  +box-sizing(border-box)

  width: 70%
  min-height: 400px
  float: left
  margin-top: 5px
  padding: 15px
  background: $color-custom-2
