body
  background: #fff
  color: $color-dark
  font:
    size: 0.9em
    family: $font-system
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: auto

strong
  font-weight: bold

em
  font-style: italic

button,
[type='submit'],
[type='button']
  cursor: pointer

[disabled]
  +opacity(0.5)

  cursor: default

a
  @extend %link

+selection($color-custom-2, #fff)
