h1,
h2,
h3,
h4,
h5,
h6
  font:
    weight: bold
    family: $font-heading
  line-height: 100%

h1
  font-size: 3.5em

h2
  font-size: 2.9em

h3
  font-size: 2.3em

h4
  font-size: 1.9em

h5
  font-size: 1.5em

h6
  font-size: 1.3em

.heading
  margin-bottom: 15px

.heading-page
  margin-bottom: 30px
  padding-bottom: 5px
  border-bottom: 5px solid #eee

.heading-block
  +border-radius($main-border-radius)

  overflow: hidden
  position: relative
  padding: 110px 15px 25px
  background: $color-custom-2
  color: #fff
  text-align: center

  .marker
    +border-radius(100px)
    +box-sizing(border-box)

    width: 200px
    height: 200px
    position: absolute
    left: 50%
    top: -100px
    margin-left: -100px
    padding-top: 100px
    background: #fff
    color: $color-custom-2
    vertical-align: baseline

    span
      font-size: 90px

  .title
    color: $color-custom-2

  .action
    margin-top: 15px

  .text
    margin-top: 15px

    p,
    ul
      font-size: 1.2em

  .more
    width: 100%
    position: absolute
    left: 0
    bottom: 0
    padding: 5px 0
    background: $color-custom-2
