.link
  @extend %link

.field-text
  @extend %field-text

.field-select
  @extend %field-select

.clearfix
  @extend %clearfix

.clear
  clear: both !important

.nowrap
  white-space: nowrap !important


.display-none
  display: none !important

.display-block
  display: block !important

.display-inline
  display: inline !important

.display-inline-block
  display: inline-block !important


.width-full
  width: 100% !important

.width-half
  width: 50% !important


.height-full
  height: 100% !important

.height-half
  height: 50% !important


.float-none
  float: none !important

.float-left
  float: left !important

.float-right
  float: right !important


+range-property('height', 0, 300, 5)
+range-property('margin', 0, 0, 1, '')
+range-property('margin-top', 0, 100, 5)
+range-property('margin-right', 0, 100, 5)
+range-property('margin-bottom', 0, 100, 5)
+range-property('margin-left', 0, 100, 5)


+background-color('transparent', transparent)
+background-color('black', #000)
+background-color('white', #fff)
+background-color('highlight', $color-highlight)
+background-color('light', $color-light)
+background-color('dark', $color-dark)
+background-color('warning', $color-warning)
+background-color('success', $color-success)
+background-color('danger', $color-danger)
+background-color('info', $color-info)
+background-color('custom-1', $color-custom-1)
+background-color('custom-2', $color-custom-2)


+color('black', #000)
+color('white', #fff)
+color('light', $color-light)
+color('dark', $color-dark)
+color('warning', $color-warning)
+color('success', $color-success)
+color('danger', $color-danger)
+color('info', $color-info)
+color('custom-1', $color-custom-1)
+color('custom-2', $color-custom-2)


.filter-grayscale
  +filter(grayscale(100%))

.filter-invert
  +filter(invert(100%))


.toggle-grayscale
  +filter(grayscale(100%))
  +transition(all 0.1s)

  &:hover
    +filter(grayscale(0))

.text-xlarge
  font-size: 1.4em !important

.text-large
  font-size: 1.2em !important

.text-small
  font-size: 0.9em !important

.text-xsmall
  font-size: 0.8em !important


.align-left
  text-align: left !important

.align-right
  text-align: right !important

.align-center
  text-align: center !important

.align-justify
  text-align: justify !important


.responsive
  display: block
  width: 100%

.centered
  margin: 0 auto !important


.separate-top
  margin-top: 15px
  padding-top: 15px
  border-top: 1px solid $color-light

.separate-bottom
  margin-bottom: 15px
  padding-bottom: 15px
  border-bottom: 1px solid $color-light
