.default-header
  +transition(height 0.2s)

  z-index: 99
  width: 100%
  height: 120px
  overflow: hidden
  position: fixed
  top: 0
  background: $color-custom-1

  .default-header-container
    width: $main-width
    position: relative
    margin: 0 auto

  .logo
    a
      +replace-text-with-dimensions('logo-robertogarcez.png')
      +transition(all 0.2s)

      display: block
      position: absolute
      left: 0
      top: 17px
      background-size: 100% 100%

  .links
    +transition(all 0.2s)

    position: absolute
    right: 0
    top: 35px

    li
      display: inline-block
      margin-right: 10px

    a
      +transition(all 0.1s)

      color: #fff
      font-weight: bold
      font:
        weight: bold
        size: 0.9em
      text-decoration: none

  .default-nav
    +transition(all 0.2s)

    z-index: 80
    position: absolute
    right: 0
    top: 65px
    padding-top: 12px
    border-top: 1px solid rgba(255, 255, 255, 0.7)

    li
      display: inline
      margin: 0 10px

    a
      +transition(all 0.1s)

      color: rgba(255, 255, 255, 0.7)
      font:
        weight: bold
        size: 0.9em
        family: $font-heading
      text:
        transform: uppercase
        decoration: none

      &:hover
        color: #fff

.default-footer
  z-index: 90
  position: relative

  .copyright
    padding: 30px 0
    font:
      weight: normal
      size: 0.9em
    line-height: 140%
    text-align: center

    .links
      margin-bottom: 15px

      li
        display: inline
        margin: 0 5px

.default-content
  z-index: 90
  min-height: 330px
  position: relative
  margin-top: 120px
  background: #fff

// Sticky
.sticky-default-header
  height: 100px
  background: $color-custom-1 !important

  .logo
    a
      width: 186px
      height: 60px

  .links
    top: 20px

  .default-nav
    top: 50px

// Billboard
.layout-billboard
  .default-header
    background: transparent

  .default-content
    margin-top: $billboard-height

// Scroll top
#scroll-top
  @extend %icon
  +border-radius(50px)

  z-index: 999
  display: none
  width: 40px
  height: 40px
  position: fixed
  right: 15px
  bottom: 15px
  border: 1px solid $color-custom-2
  background: #fff
  color: $color-custom-2
  font-size: 20px
  line-height: 40px
  text:
    decoration: none
    align: center

  &:before
    content: '\f3d8'

  &:hover
    border-color: #fff
    background: $color-custom-2
    color: #fff

  &.visible
    display: block
