.list-icon
  @extend %clearfix

  li
    display: inline

  a
    $size: 30px

    display: inline-block
    width: $size
    height: $size
    color: $color-secondary
    text:
      align: center
      decoration: none

    span
      font-size: 20px

    &:hover
      color: $color-dark

.list-links
  li
    display: block

    &:last-child
      a
        border: none

  a
    +border-radius($main-border-radius)

    display: block
    position: relative
    padding: 15px 10px 15px 30px
    border-bottom: 1px dotted $color-light
    color: $color-secondary
    line-height: 130%

    &:hover
      background: $color-light

    &:before
      @extend .icon-asterisk

      position: absolute
      left: 10px
      top: 17px
      color: $color-custom-2

    .title
      color: $color-dark
      font-weight: bold

    .resume
      margin-top: 5px
      color: $color-secondary
      font-size: 0.9em

.list-thumbs
  overflow: hidden

  li
    display: inline

  a
    $size: 128px
    +transition(all 0.2s)

    display: block
    width: $size
    height: $size
    overflow: hidden
    float: left
    margin: 13px

    &:hover
      +opacity(0.8)

  img
    width: 100%
    height: 100%
