// Selection
=selection($background, $color)
  $prefixes: ('-moz-', '')

  @each $prefix in $prefixes
    ::#{$prefix}selection
      background: $background
      color: $color

// Range property
=range-property($property, $start, $end, $factor, $unit: 'px')
  $i: $start

  @while $i <= $end
    .#{$property}-#{$i}
      #{$property}: #{$i + $unit} !important
    $i: $i + $factor

// Grid
=grid($prefix: '', $items: 10, $gap: 3%)
  .#{$prefix}grid
    @extend %clearfix

    > .#{$prefix}grid-item
      min-height: 1px
      float: left
      margin-right: $gap

      &:last-child
        margin: 0

    &.grid-rows
      > .#{$prefix}grid-item
        margin-bottom: $gap

  @for $i from 1 through $items
    .#{$prefix}grid-items-#{$i}
      $width: (100% - ($gap * ($i - 1))) / $i

      > .#{$prefix}grid-item
        width: $width

        &:nth-child(#{$i}n + #{$i})
          margin-right: 0

        &:nth-child(#{$i}n + #{$i + 1})
          clear: left

      @for $j from 2 through ($i - 1)
        > .#{$prefix}grid-item-span-#{$j}
          width: ($width * $j) + ($gap * ($j - 1))

  .#{$prefix}grid-collapse
    > .#{$prefix}grid-item
      margin: 0 !important

    @for $i from 1 through $items
      $width: 100% / $i

      &.#{$prefix}grid-items-#{$i}
        > .#{$prefix}grid-item
          width: $width

        @for $j from 2 through ($i - 1)
          > .#{$prefix}grid-item-span-#{$j}
            width: $width * $j

// Button extend
=button-extend($suffix, $color)
  .button-#{$suffix}
    background-color: $color

    &:hover:enabled
      background-color: lighten($color, 5%)

    &.button-bordered
      border-color: $color !important
      color: $color !important

      &:hover:enabled
        border-color: lighten($color, 5%) !important
        color: lighten($color, 5%) !important

// Background color
=background-color($suffix, $color)
  .background-color-#{$suffix}
    background-color: $color !important

  @if $color != transparent
    .background-color-#{$suffix}-alpha
      background-color: rgba($color, 0.7) !important

// Color
=color($suffix, $color)
  .color-#{$suffix}
    color: $color !important

// Colorbox
=colorbox($color: #777)
  border-color: lighten($color, 35%)
  background-color: lighten($color, 50%)
  color: $color

  &:before,
  &:after,
  a
    color: $color
