.pagination
  margin-top: 30px
  text-align: center

  ul
    display: inline-block

  li
    display: block
    float: left
    border-left: 1px solid #fff
    color: #888

    &.current
      span,
      a
        color: $color-dark
        font-weight: bold

    &:first-child
      border-left: none

      span,
      a
        +border-left-radius(3px)

    &:last-child
      span,
      a
        +border-right-radius(3px)

  span,
  a
    display: block
    padding: 10px
    background: $color-light

  a
    color: $color-secondary

    &:hover
      background: darken($color-light, 5%)
      color: $color-dark

    span
      padding: 0
      background: none
