.pane
  +border-radius($main-border-radius)
  +box-sizing(border-box)

  position: relative
  padding: 15px
  border: 1px solid #ddd
  background: #eee
  line-height: 130%

.pane-group
  margin-bottom: 15px

.pane-action
  margin-top: 15px
  padding-top: 15px
  border-top: 1px dotted #ccc
  text-align: right

  ul
    display: inline-block

    li
      display: inline
      margin: 0 15px
      padding-left: 10px

.pane-quote
  margin: 15px 0
  padding: 10px 0
  border: 1px solid $color-custom-2
  border:
    left: none
    right: none
  color: $color-custom-2
  font:
    style: italic
    size: 1.3em
  text-align: center

.pane-scroll
  height: 100px
  overflow: auto
  padding: 15px
  background: #eee

.pane-stamp
  +border-radius(100px)
  +box-sizing(border-box)

  width: 200px
  height: 200px
  margin: 0 auto
  background:
    color: #ddd
    position: 50% 50%
    repeat: no-repeat

.pane-message
  +border-radius(100px)
  +box-sizing(border-box)

  width: 150px
  height: 150px
  margin: 0 auto
  padding: 75px 15px 15px
  border-bottom: 1px solid #ccc
  background:
    color: #fff
    position: 50% 25px
    repeat: no-repeat
  color: #888
  font-size: 0.9em
  line-height: 130%
  text-align: center

.pane-link
  a
    +transition(all 0.2s)

    display: block
    padding-top: 10px
    border:
      top: 2px solid $color-custom-1
      bottom: none
    color: #000
    text-decoration: none

    &:hover
      color: $color-custom-1

.pane-separate
  margin-top: 15px
  padding-top: 15px
  border-top: 2px solid #ddd

.pane-icon-rounded
  text-align: center

  .image
    $size: 100px
    +border-radius(100px)

    width: $size
    height: $size
    margin: 0 auto
    background: $color-custom-2
    color: #fff

    span
      font-size: 60px
      line-height: $size

  .title
    margin-top: 15px
    color: $color-custom-2
    font:
      weight: bold
      size: 1.2em
    letter-spacing: -1px
    line-height: 130%

  .description
    margin-top: 15px
    font-size: 0.9em
    line-height: 130%
