%clearfix
  &:after
    content: ''
    display: table
    clear: both

%icon
  display: inline-block
  font-family: $font-icon
  speak: none
  font:
    style: normal
    weight: normal
    variant: normal
    transform: none
    rendering: auto
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

%focus
  $color: $color-info
  +box-shadow(0 0 5px rgba($color, 0.5))
  +transition(box-shadow 0.2s)

  border: 1px solid rgba($color, 0.5)
  outline: none

%highlight
  +box-shadow(0 0 0 2px $color-highlight)

%link
  +transition(all 0.1s)

  color: $color-custom-1
  text-decoration: none

  &:hover
    color: $color-custom-2

%button
  $color: $color-dark
  $height: 35px
  +border-radius($main-border-radius)
  +box-sizing(border-box)
  +transition(all 0.1s)

  display: inline-block
  height: $height
  padding: 0 15px
  border: none
  background-color: $color
  color: #fff
  font:
    weight: bold
    size: 1em
    family: $font-system
  line-height: $height
  text-decoration: none

  &:hover:enabled
    background-color: lighten($color, 5%)

  &.button-block
    display: block
    width: 100%
    text-align: center

  &.button-large
    height: $height + 15
    padding: 0 20px
    font-size: 1.2em
    line-height: $height + 15

  &.button-small
    height: $height - 10
    padding: 0 10px
    border-width: 1px
    font-size: 0.9em
    line-height: $height - 10

  &.button-bordered
    border: 2px solid $color
    background: none !important
    color: $color
    line-height: $height - 4

    &:hover:enabled
      border-color: lighten($color, 5%)
      color: lighten($color, 5%)

    &.button-large
      line-height: $height + 10 - 4

    &.button-small
      line-height: $height - 10 - 2

    &.button-white
      $color: #fff

      border-color: $color
      color: $color

      &:hover:enabled
        border-color: lighten($color, 5%)
        color: lighten($color, 5%)

  &.button-white
    $color: #fff

    background-color: $color
    color: $color-dark

  &.button-inline
    margin-top: 17px

%field-text
  +border-radius($main-border-radius)
  +box-sizing(border-box)

  width: 100%
  height: 35px
  padding: 0 10px
  border: 1px solid #ccc
  background:
    color: #fff
    image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 2px)
  font:
    weight: normal
    size: 1em
    family: $font-system

  &.field-large
    height: 50px
    padding: 0 15px
    font-size: 1.1em

  &.field-warning
    border-color: $color-warning

  &.field-success
    border-color: $color-success

  &.field-danger
    border-color: $color-danger

  &.field-info
    border-color: $color-info

  &:focus
    @extend %focus

%field-select
  @extend %field-text
  +appearance(none)

  width: 100%
  padding-right: 0
  cursor: pointer
  background:
    image: linear-gradient(180deg, rgba(0, 0, 0, 0.1), transparent 2px), url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMTJweCIgeT0iMHB4IiB3aWR0aD0iMjRweCIgaGVpZ2h0PSIzcHgiIHZpZXdCb3g9IjAgMCA2IDMiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDYgMyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBvbHlnb24gcG9pbnRzPSI1Ljk5MiwwIDIuOTkyLDMgLTAuMDA4LDAgIi8+PC9zdmc+')
    position: 100% center
    repeat: no-repeat

  &::-ms-expand
    display: none
