.section-content
  min-height: 500px

  .section-content-container
    width: $main-width
    position: relative
    margin: 0 auto
    padding: 30px 0

  header
    margin-bottom: 40px
    text-align: center

    h1
      color: $color-custom-2
      font:
        weight: bold
        size: 3.1em
      letter-spacing: -3px

    h3
      margin-top: 15px
      color: $color-secondary
      font:
        weight: normal
        size: 1.5em
        family: $font-default
      letter-spacing: -1px

.section-quote
  width: $main-width
  position: relative
  margin: 0 auto
  padding: 30px 0

  blockquote
    position: relative
    padding: 15px  0 0 90px

    &:before
      @extend %icon

      content: '\f347'
      z-index: 1
      position: absolute
      left: 0
      top: 0
      color: #eee
      font-size: 80px

    p
      z-index: 10
      position: relative
      color: #777
      font:
        size: 1.2em
        family: $font-default
      line-height: 150%
      text-align: left

    cite
      display: block
      margin-top: 20px
      color: $color-dark
      font:
        weight: bold
        size: 0.9em
        family: $font-heading
      text-align: right

#escritorios
  background: darken($color-light, 7%)
  text-align: center

  .supericon
    margin-bottom: 30px
    padding-bottom: 5px
    border-bottom: 1px solid #ccc

    span
      color: #ccc
      font-size: 200px
  ul
    display: inline-block

  li
    display: inline

    &:first-child
      .address
        +border-left-radius($main-border-radius)

    &:last-child
      .address
        +border-right-radius($main-border-radius)

  .address
    display: block
    float: left
    margin-top: 18px
    padding: 15px 40px
    background: #fff
    line-height: 130%
    text-align: left

    a
      color: $color-dark

  .address-main
    +border-radius($main-border-radius)

    margin: 0
    padding: 30px 40px
    border-color: $color-custom-2
    background: $color-custom-2

    a
      color: #fff

    .address-heading
      margin-bottom: 15px
      color: #fff
      font-size: 1.3em

    .address-item
      color: rgba(255, 255, 255, 0.7)

  .address-heading
    color: $color-dark
    font:
      weight: bold
      size: 1em
      family: $font-heading
    text-transform: uppercase

  .address-item
    position: relative
    margin-top: 10px
    padding-left: 20px
    color: rgba(0, 0, 0, 0.5)
    font-size: 0.9em

    &:before
      @extend %icon

      position: absolute
      left: 0
      top: 3px

    &.location
      &:before
        content: '\f1ff'

    &.phone
      font-weight: bold

      &:before
        content: '\f2d2'

    &.email
      font-weight: bold

      &:before
        content: '\f132'

#atuacao
  background: $color-light

#noticias
  background: $color-custom-2

  header
    h1
      color: $color-custom-1

    h3
      color: #fff

#publicacoes
  background: $color-light

#contato
  background: $color-light
