.splitbox
  +border-radius($main-border-radius)

  border: 1px solid $color-custom-2

  section
    header
      +transition(all 0.1s)

      padding: 5px
      border-top: 1px dotted $color-custom-2
      cursor: pointer
      color: $color-custom-2
      font:
        size: 1.3em
        family: $font-heading

      &:hover
        background: lighten($color-custom-2, 20%)

    .splitbox-content
      display: none
      padding: 5px 10px 10px

    &:first-child
      header
        border-top: none
